.p5Canvas {
    display: block;
    margin: auto;
}

body {
    background: rgba(179, 179, 179, 0.54);
}

.p5Canvas::after {
    content: " - Remember this";
    background-color: yellow;
    color: red;
    font-weight: bold;
}

.wrap {
    padding: 15px;
}

.controls-wrap {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #80808038;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #80808038;
}

.buttons button {
    margin-right: 5px;
}

.buttons button:last-of-type {
    margin-right: 0;
}

#sketch-holder {
    overflow-x: auto;
    border-radius: 5px;
}

button i {
    font-size: 12px;
    margin-left: 5px;
}